.navbar {
    font-family: roboto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5em;
    box-shadow: 0 0 1.5em rgba(#333, 0.2);
    background: #fff;
    transition: height 500ms ease-in-out;
    // border: 1px solid red;

    &__div {
        display: flex;
        justify-content: space-between;
    }

    &__links {
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding: 0;
        margin: 1.3em 0;
        opacity: 1;
        transition: opacity 500ms linear;
        // border: 1px solid red;
    }

    &__link {
        a {
            font-size: 0.9rem;
            color: var(--color-two);
            text-decoration: none;

            &:hover,
            &:focus {
                color: var(--color-primary);
            }
        }
    }

    @media (max-width: 740px) {
        height: 3.3em;
        width: 100vw;
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 1em;

        &__div {
            width: 100%;
        }

        &__links {
            flex-direction: column;
        }

        &__link {
            margin-left: 0;
            margin-top: 1em;
        }
    }
}

.brand {
    color: var(--color-primary);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 20px;
    cursor: pointer;
    transition: all 500ms ease-in-out;

    @media (min-width: 740px) {
        display: none;
    }

    &__hamburger {
        width: 25px;
        height: 3px;
        background: var(--color-accent);
        border-radius: 2px;
        transition: all 500ms ease-in-out;

        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 25px;
            height: 3px;
            background: var(--color-accent);
            border-radius: 2px;
            transition: all 500ms ease-in-out;
        }

        &::before {
            transform: translateY(-6px);
        }

        &::after {
            transform: translateY(6px);
        }
    }

    &.menu__open {
        .menu__hamburger {
            transform: translateX(-30px);
            background: transparent;

            &::before {
                transform: rotate(45deg) translate(20px, -20px);
            }

            &::after {
                transform: rotate(-45deg) translate(20px, 20px);
            }
        }
    }
}
