.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  margin-left: -7em;
  background: var(--color-one);
  font-family: roboto;
}

.grid__one {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  opacity: 0.6;
  -webkit-box-shadow: 10px 10px 4em rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 4em rgba(0, 0, 0, 0.3);
}

.grid__two {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.grid__three {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  padding: 0 15%;
}

.grid__three h5 {
  font-size: 0.8rem;
  color: var(--color-primary);
  border-left: 3px solid var(--color-accent);
  padding-left: 5%;
}

.grid__three p {
  font-size: 0.7rem;
  color: var(--color-primary);
  padding-left: 7%;
  opacity: 0.8;
}

.grid__four {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.grid__four img {
  -webkit-box-shadow: 10px 10px 4em rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 4em rgba(0, 0, 0, 0.3);
}

.grid__five {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.grid__five img {
  -webkit-box-shadow: -10px -10px 4em rgba(0, 0, 0, 0.3);
          box-shadow: -10px -10px 4em rgba(0, 0, 0, 0.3);
}

.grid__six {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  padding: 0 15%;
}

.grid__six h5 {
  font-size: 0.8rem;
  color: var(--color-primary);
  border-left: 3px solid var(--color-accent);
  padding-left: 5%;
}

.grid__six p {
  font-size: 0.7rem;
  color: var(--color-primary);
  padding-left: 7%;
  opacity: 0.8;
}

.grid__seven {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  padding: 10%;
  background: var(--color-one);
}

.grid__seven h4 {
  font-size: 1.3rem;
  color: var(--color-primary);
}

.grid__seven p {
  font-size: 0.9rem;
  opacity: 0.8;
  color: var(--color-primary);
}

@media (max-width: 800px) {
  .grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    margin-left: 0;
  }
  .grid__one {
    display: none;
  }
  .grid__two {
    display: none;
  }
  .grid__three {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .grid__four {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  .grid__five {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
  }
  .grid__six {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .grid__seven {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4 / 6;
  }
}
/*# sourceMappingURL=Grid.module.css.map */