.featured {
    &__title {
        display: flex;
        gap: 4em;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        padding: 5em 7%;
        color: var(--color-primary);

        h3 {
            flex-basis: 70%;
        }

        p {
            font-size: 0.9rem;
            margin-bottom: 1.5em;
        }

        @media (max-width: 790px) {
            flex-direction: column;
            gap: 2em;
        }
    }
}

.bestsellers {
    background: var(--color-background);
    padding: 7em 0;

    &::before {
        content: "";
        background: inherit;
        position: relative;
        padding: 14em 100% 0 0;
        z-index: -1;
    }

    &__header {
        color: var(--color-primary);
        margin: 0 0 2em 0;
    }

    &__link {
        align-self: center;
        text-align: center;
        flex-basis: 22%;
        min-width: 200px;
    }
}
