.footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "contact contact none links links links"
        "download download none links links links";
    align-items: center;
    margin-top: 3em;

    &__contact {
        grid-area: contact;
        padding-top: 4em;

        h3 {
            font-size: 1.1rem;
            color: var(--color-primary);
        }

        .contact_icons {
            display: flex;
            padding-top: 1em;

            img {
                width: 70%;
            }
        }
    }

    &__download {
        grid-area: download;
        display: flex;

        img {
            width: 80%;
        }
    }

    &__links {
        grid-area: links;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__link {
        font-family: roboto;
        color: var(--color-primary);

        h4 {
            color: inherit;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        p {
            color: inherit;
            margin-top: 1em;
            font-weight: 400;
            font-size: 0.8rem;

            &:hover,
            &:focus {
                color: var(--color-hover);
            }
        }
    }

    @media (max-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "contact download"
            "links links";

        &__contact {
            padding-top: 0;
        }
    }

    @media (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "contact"
            "download"
            "links";

        &__contact {
            align-self: flex-end;
        }

        &__download {
            width: 75%;
        }
    }
}
