aside {
    display: flex;

    @media (max-width: 1000px) {
        flex-direction: column;
    }
}

.download {
    padding: 5em 0 0 12em;
    background: var(--color-accent);
    display: flex;

    &__message {
        color: #fff;
        font-family: roboto;
        flex-basis: 40%;
        margin: 2em 0;

        h3 {
            font-size: 1.5rem;
        }

        p {
            font-size: 0.85rem;
        }

        @media (max-width: 1000px) {
            margin-bottom: 5em;
        }

        @media (max-width: 900px) {
            margin-bottom: 2em;
        }
    }

    &__buttons {
        display: flex;

        @media (max-width: 350px) {
            flex-direction: column;
            align-items: center;
            
            & > * + * {
                margin-left: 0;
                margin-top: 1em;
            }
        }
    }

    &__float {
        width: 100%;
        // min-width: 564px;
        filter: drop-shadow(0 0 10px rgba(black, 0.35))
    }

    &__image {
        // flex-basis: 100%;
        // width: 100%;
        margin-left: -15em;
        min-width: 480px;

        @media (max-width: 1000px) {
            display: none;
        }
    }

    @media (max-width: 900px) {
        flex-direction: column;
        padding: 0;
        padding-top: 3em;
    }
}
