:root {
  --color-primary: #164d88;
  --color-secondary: #227ddd;
  --color-accent: #ff9340;
  --color-hover: #ff8527;
  --color-rating: #fadabb;
  --color-background: #fff4e9;
  --color-download: #e99555;
  --color-one: #efedea;
  --color-two: #918e8a;
  --color-four: #cf9052;
  --color-five: #3d2a1f;
  --color-six: #b88c59;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.app {
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  width: 70%;
  max-width: 1040px;
  margin: 0 auto;
}

@media (max-width: 740px) {
  .container {
    width: 100%;
  }
}

.flex_row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: var(--row-justify, center);
      -ms-flex-pack: var(--row-justify, center);
          justify-content: var(--row-justify, center);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--flex-gap, 2em);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex_column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: var(--column-align, center);
      -ms-flex-align: var(--column-align, center);
          align-items: var(--column-align, center);
  gap: var(--flex-gap, 0.7em);
}

.side_padding {
  padding: 0;
}

@media (max-width: 740px) {
  .side_padding {
    padding: 8%;
  }
}

.horizontal_spacer_all > * {
  margin-left: var(--horizontal-space, 2em);
}

.horizontal_spacer > * + * {
  margin-left: var(--horizontal-space, 2em);
}

.vertical_spacer > * + * {
  margin-top: var(--vertical-space, 2.5em);
}

.input {
  border: none;
  padding: 0.7rem 2rem;
  background: var(--color-input, #fff);
  color: var(--color-primary, #000);
  border-radius: 5px;
}

@media (max-width: 740px) {
  .input {
    padding: 0.6em 1em;
  }
}

.button {
  border: none;
  padding: 0.85em 2em;
  background-color: var(--color-accent);
  color: var(--button-text, #fff);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 550;
  border-radius: var(--button-radius, 5px);
  -webkit-transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, opacity 250ms linear;
  transition: transform 250ms ease-in-out, opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  cursor: pointer;
}

.button:hover, .button:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 740px) {
  .button {
    padding: 0.6em 1em;
  }
}

.img_button {
  background: transparent;
  border: none;
  width: 25%;
  min-width: 140px;
}

.link {
  color: var(--color-accent);
  text-decoration: none;
  font-weight: 700;
  font-size: 0.8rem;
}

.link:hover, .link:focus {
  color: rgba(255, 165, 0, 0.9);
}
/*# sourceMappingURL=App.module.css.map */